.card {
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  height: 25rem;

  margin: 5rem 3rem 5rem;
}

.heading {
  position: relative;
  left: 3rem;
  top: 1rem;

}

.desp {
  position: relative;
  left: 3rem;
  top: 1rem;
  font-weight: normal;
  line-height: 2;
  /* text-align: left; */
width: 70%;
}

.title {
  position: relative;
  left: 3rem;
  top: 1rem;
  font-size: 1.5rem;
  width: 90%;
}

.banner {
  float: left;
  margin: 20px auto 20px auto;
  height: 20rem;
  width: 44rem;
}

.source {
  font-weight: bolder;
  position: relative;
  left: 33rem;
  top: 3rem;
  margin: 1rem;
}


/* CSS */
.btn {
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  left: 5rem;
  top: 3rem;
}

.btn:after {
  content: "";
  background-color: #ffe54c;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.btn:hover:after {
  top: 0px;
  left: 0px;
}

@media (min-width: 768px) {
  .btn {
    padding: 13px 50px 13px;
  }
}